<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete items</title>
</head>
<body bgcolor='#f097e1'>   
        <h1> Click the item to be deleted</h1> <br>
            <div>
                {% for i in messages %}
                <h3>{{i}}</h3>
                {% endfor %}
                </div>
        <div><br>
        {% for item in item %}
        <a href='/editproduct/dell/{{item.id}}'><img src="{{item.img.url}}" style="height:200px;width:200px"/></a><br><br>
        {% endfor %}      
            

        </div>
        </body>
</html>
