<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>boostrap beginning</title>
  <link rel="stylesheet" href="C:\Users\admin\myprojects\myproj\bootstrap assets\css\bootstrap.min.css">

</head>
<body> 
  <h1>hello world</h1>
  <img src="/static/images/destination_5.jpg" alt="not found">
  <script src="C:\Users\admin\myprojects\myproj\bootstrap assets\js\jquery.js"></script>
<script src="C:\Users\admin\myprojects\myproj\bootstrap assets\js\bootstrap.min.js"></script>
</body>
</html> 