{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopeasy</title>
</head>
<body>
<div>
    <img src="{% static 'images/april.jpg' %}" alt="">

</div>>

</body>
</html>


Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptas magnam voluptatum similique illum exercitationem sunt veniam magni eaque quaerat. Eos totam voluptatem doloribus veniam corporis ipsum dolore alias distinctio.