{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Shopeasy</title>
</head>
<body>
<a href="top"></a>

<div>
    
            <nav class="navbar navbar-light bg-light justify-content-between">
                {% if user.is_authenticated %}    
                    <a class="navbar-brand">Hi..,{{user.first_name}}</a>
                    <a class="navbar-brand"href="accounts/logout/">Logout</a>
                {% else %}
                    <a class="navbar-brand" href="accounts/register/">Register</a>
                    <a class="navbar-brand"href="accounts/login/">Login</a>
                {% endif %}            
                    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
                    <a class="navbar-brand">My account</a>
                    <a class="navbar-brand">My orders</a>
                    <a class="navbar-brand">Reach Us</a>
                    <a class="navbar-brand" href="{% url 'cart' %}">My Cart</a>
                    
                    <form class="form-inline" method="POST" action="{% url 'search' %}">
                        {% csrf_token %}                   
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Products" name='searchitem' aria-label="Search">
                    
                    <button  class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
                    
                    </form>
                </nav>                         
    
        
</div>

        
        <div>
            <img src="{% static 'images/april.jpg' %}" alt="" style=" width:100%;height:10cm">
        </div>
{% block content %}
{% endblock %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<br><hr>
<a href="#top">back to top</a>
<hr>
</body>
</html>


