<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  <h1>{{ product.name }}</h1>
  <hr>


<img src="{{ product.img.url }}" alt="" style="width:auto;height:10cm"><hr>
Item details:{{ product.desc }}<br><br><hr>
Price: {{ product.price }}<br><br><hr>

{% if product.stock < 1 %}

    <strong>Out of Stock </strong>

{% else %}

    Available Stock:{{ product.stock }}
    <a href="{% url 'cart' %}"> Add to cart</a>

{% endif %}

</body>
</html>